<!DOCTYPE html>
<html>
<head>
    <title>CHIRPS Rainfall - Zimbabwe</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <h1>🌧️ CHIRPS Daily Rainfall - Zimbabwe (March 20, 2024)</h1>
    <div id="map" style="width: 60%; height: 600px;"></div>
    
    <script>
        var map = L.map('map').setView([{{ center_lat }}, {{ center_lng }}], 6);
        
        L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '© CartoDB'
        }).addTo(map);
        
        {% if error %}
            document.write('<p style="color:red">Error: {{ error }}</p>');
        {% else %}
            // Add CHIRPS rainfall raster (clipped to Zimbabwe)
            L.tileLayer('{{ tile_url|safe }}', {
                attribution: '© CHIRPS | Google Earth Engine',
                opacity: 0.8,
                maxZoom: 10
            }).addTo(map);
        {% endif %}
        
        // Add Zimbabwe boundary from GeoJSON
        var geojsonData = {{ geojson_data|safe }};
        
        function style(feature) {
            return {
                color: '#ff4444',
                weight: 2,
                fill: false,
                opacity: 0.8,
                dashArray: '3'
            };
        }
        
        L.geoJSON(geojsonData, {
            style: style,
            onEachFeature: function(feature, layer) {
                var name = feature.properties?.NAME_1 || feature.properties?.ADM1_NAME || 'Zimbabwe';
                layer.bindPopup('<b>' + name + '</b><br>Rainfall data: CHIRPS Daily');
            }
        }).addTo(map);
        
        // Fit map to Zimbabwe bounds
        map.fitBounds([[{{ bounds_sw_lat }}, {{ bounds_sw_lng }}], [{{ bounds_ne_lat }}, {{ bounds_ne_lng }}]]);
        
        // Legend
        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function(map) {
            var div = L.DomUtil.create('div');
            div.style.background = 'white';
            div.style.padding = '10px';
            div.style.borderRadius = '5px';
            div.style.boxShadow = '0 0 5px rgba(0,0,0,0.2)';
            div.innerHTML = '<strong>Rainfall (mm)</strong><br>' +
                '<span style="background:#ffffcc;">&nbsp;&nbsp;&nbsp;</span> 0-12<br>' +
                '<span style="background:#a1dab4;">&nbsp;&nbsp;&nbsp;</span> 12-24<br>' +
                '<span style="background:#41b6c4;">&nbsp;&nbsp;&nbsp;</span> 24-36<br>' +
                '<span style="background:#2c7fb8;">&nbsp;&nbsp;&nbsp;</span> 36-48<br>' +
                '<span style="background:#253494;">&nbsp;&nbsp;&nbsp;</span> 48-60';
            return div;
        };
        legend.addTo(map);
        
        // Date info
        var info = L.control({position: 'topright'});
        info.onAdd = function(map) {
            var div = L.DomUtil.create('div');
            div.innerHTML = '<b>📅 {{ date }}</b><br>CHIRPS Daily Data<br>Clipped to Zimbabwe';
            div.style.background = 'white';
            div.style.padding = '8px 12px';
            div.style.borderRadius = '5px';
            div.style.boxShadow = '0 0 5px rgba(0,0,0,0.2)';
            return div;
        };
        info.addTo(map);
    </script>
</body>
</html>