<!DOCTYPE html>
<html>
<head>
    <title>CHIRPS Rainfall Raster - Zimbabwe </title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <h1>🌧️ CHIRPS Daily Rainfall Raster - Zimbabwe:  {{ date }}</h1>

    <label for="datePicker"><b>Select Date:</b></label>
    <input type="date" id="datePicker" value="{{ selected_date|default:'2021-12-20' }}">
    <button onclick="loadDate()">Load</button>

   <div id="map" style="width: 90%; height: 800px;"></div>
    
    <script>
        
        function loadDate() {
        var selectedDate = document.getElementById("datePicker").value;

        if (!selectedDate) {
            alert("Please select a date");
            return;
        }

        // Reload page with date as query parameter
        window.location.href = "?date=" + selectedDate;
    }
        var map = L.map('map').setView([-19.5, 29.0], 7);
        fetch('/static/geojson/zimadm1.geojson')
        .then(res => res.json())
        .then(data => {
            L.geoJSON(data, {
                style: {
                    color: '#ff4444',
                    weight: 2,
                    fill: false
                }
            }).addTo(map);
        });
        L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '© CartoDB'
        }).addTo(map);
        
        {% if error %}
            document.write('<p style="color:red">Error: {{ error }}</p>');
        {% else %}
            // Add CHIRPS rainfall raster layer
            L.tileLayer('{{ tile_url|safe }}', {
                attribution: '© CHIRPS | Google Earth Engine',
                opacity: 0.8,
                maxZoom: 10
            }).addTo(map);
        {% endif %}
        
        // Legend
        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function(map) {
            var div = L.DomUtil.create('div', 'info legend');
            div.style.background = 'white';
            div.style.padding = '10px';
            div.style.borderRadius = '5px';
            div.style.boxShadow = '0 0 5px rgba(0,0,0,0.2)';
            div.innerHTML = '<strong>Rainfall (mm)</strong><br>' +
                '<span style="background:#ffffcc;">&nbsp;&nbsp;&nbsp;</span> 0-30<br>' +
                '<span style="background:#a1dab4;">&nbsp;&nbsp;&nbsp;</span> 20-30<br>' +
                '<span style="background:#41b6c4;">&nbsp;&nbsp;&nbsp;</span> 30-40<br>' +
                '<span style="background:#2c7fb8;">&nbsp;&nbsp;&nbsp;</span> 40-50<br>' +
                '<span style="background:#253494;">&nbsp;&nbsp;&nbsp;</span> 50-100';
            return div;
        };
        legend.addTo(map);
        
        var info = L.control({position: 'topright'});
        info.onAdd = function(map) {
            var div = L.DomUtil.create('div');
           div.innerHTML = '<b>📅 {{ date }}</b><br>CHIRPS Daily Rainfall<br>Continuous Raster Data';
            div.style.background = 'white';
            div.style.padding = '8px 12px';
            div.style.borderRadius = '5px';
            div.style.boxShadow = '0 0 5px rgba(0,0,0,0.2)';
            return div;
        };
        info.addTo(map);
    </script>
</body>
</html>

